MONGODB_URI=mongodb+srv://arnoldeee123_db_user:Edge@cluster0.m5cazrr.mongodb.net/moveease
RESEND_API_KEY=re_f1BNwx1F_Kpgxji1zZ7tBmdjWfNNSBfiD
OWNER_EMAIL=edgemovingsolutions@gmail.com
JWT_SECRET=Ease
CLIENT_URL=https://edgemovingsolutions.ca
NODE_ENV=production
COMPANY_NAME=Edge Moving Solution Ltd.
COMPANY_PHONE=506-471-9393
ADMIN_EMAIL=edgemovingsolutions@gmail.com
